<!DOCTYPE html>
<html>
  <head>
    <title>Nulog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# webpackが必要となったタイミングで有効化する %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# javascript_pack_tag 'application' %>

    <% if Rails.env.production? %>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <% else %>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const csrf_token = document.getElementsByName('csrf-token')[0].getAttribute('content')
      axios.defaults.headers.common['X-CSRF-Token'] = csrf_token
    </script>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
